.bg-primary {
    background-color: #d39b9b !important;
}

.bg-secundary {
    background-color: #f5b5b5 !important;
}

.bg-third {
    /* background-color: #745e50 !important; */
    background-color: #907c70 !important;
    /* background-color: #FFD09B !important; */
}

.bg-fourth {
    background-color: #fcd487 !important;
    background-color: #e3c58e !important;
}

.bg-fifth {
    /* background-color: #fdaf8a !important; */
    background-color: #745e50 !important;
}

/* #language-select {
    background: url('./img/banderas/es.png') no-repeat right 10px center;
    background-color: white;
    padding-right: 50px;
    background-size: 20px 20px;
} */

#language-select {
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: right 10px center; 
    padding-right: 40px; 
}


.bg-primary-border {
    border: 2px solid #d39b9b;
}

.bg-third-border {
    border: 3px solid #745e50;
}

.btn-gmail {
    background-color: #ea4335 !important;
    color: white !important;
}

.btn-gmail:hover {
    background-color: #d73225 !important;
}